.tm-toolbar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  position: relative;
}

.tm-toolbar-default {
  background: #ebedf5;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.uk-navbar-container {
  border-bottom: 1px solid #d1dbe6;
}

.uk-navbar-nav>li>a {
  color: #0e233f;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color,box-shadow;
  position: relative;
  z-index: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar .brand, .navbar .nav>li>a, .navbar-search, .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 70px;
  padding: 0 40px;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.uk-link, a {
  color: #527aaf;
  text-decoration: none;
  cursor: pointer;
}